body {
    font-family: sans-serif;
    font-size: clamp(0.9rem, 1vw + 0.2rem, 1.4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #1f1f1f;
    color: #333;
}

h1 {
    color: #5f9ea0;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

pre {
    font-size: 1.2rem;
    color: #cececeff;
    background-color: #205d5f;
    padding: 1.2rem;
    border-radius: 8px;
    max-width: 90%;
    overflow-x: auto;
}